# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Office temp files
~$*.xlsx
~$*.docx

# Ignore MPLAB junk
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
FM.X/html/
FM.X/nbproject/private/
FM.X/nbproject/Package-*.bash
FM.X/build/
FM.X/nbbuild/
FM.X/dist/
FM.X/nbdist/
FM.X/nbactions.xml
FM.X/nb-configuration.xml
FM.X/funclist
FM.X/nbproject/Makefile-*
FM.X/disassembly/
FM.X/*.map
FM.X/debug
